/********** Template CSS **********/
:root {
    --primary: #13C5DD;
    --secondary: #354F8E;
    --light: #EFF5F9;
    --dark: #1D2A4D;
}

.btn {
    font-weight: 700;
    transition: .5s;
}

.btn:hover {
    -webkit-box-shadow: 0 8px 6px -6px #555555;
    -moz-box-shadow: 0 8px 6px -6px #555555;
    box-shadow: 0 8px 6px -6px #555555;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}


.hero-header {
    /* background: url(../img/hero.jpg) top right no-repeat;
    background-size: cover; */
    background-color: #1B3764;
}


.price-carousel::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: var(--primary);
    border-radius: 8px 8px 50% 50%;
    z-index: -1;
}

.price-carousel .owl-nav {
    margin-top: 35px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next{
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}
/* services css starts from here*/
.service-item {
    position: relative;
    height: 350px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCA42;
    border-radius: 50%;
    transform: rotate(-14deg);
}

.service-item .service-icon i {
    transform: rotate(15deg);
    color: #1B3764;
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}
/*services css ends here*/
@media (min-width: 576px) {
    .team-item .row {
        height: 350px;
    }
}

.team-carousel .owl-nav {
    position: absolute;
    padding: 0 45px;
    width: 100%;
    height: 45px;
    top: calc(50% - 22.5px);
    left: 0;
    display: flex;
    justify-content: space-between;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: var(--light);
    border: 2px solid var(--primary);
    border-radius: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--primary);
}

.testimonial-carousel .owl-item img {
    width: 150px;
    height: 150px;
}
/*registration css starts from here*/
.register {
    max-width: 628px;
    padding: 20px;
    background: #1B3764;
    border-radius: 10px;
    margin: 100px auto 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*color change*/
.blue-txt{
    color: #1B3764;
}
.img-div img{
    display: block;
    width: 100%;
    height: 100%;
}
.yellow-txt{
   color:#FFCA42 ; 
}
.yellow-btn{
    background-color: #FFCA42;
    color: #1B3764;
}

/*Contact page*/
.contact_section {
    position: relative;
}
.layout_padding {
    padding: 90px 0;
}
.contact_section .heading_container {
    margin-bottom: 25px;
}
.heading_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}
.contact_section .heading_container h2 {
    text-transform: uppercase;
}
.form-row {
    display: flex;
    gap: 10px;

}
.contact_section .form_container input.message-box {
    height: 175px;
}
.contact_section .form_container input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    outline: none;
    color: #101010;
    background: #eeeeee;
}
.contact_section .form_container button {
    width: 100%;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 55px;
    background-color: #1B3764;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #1B3764;
}
.contact_section .map_container {
    height: 368px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}
.contact_section .map_container .map {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.appointment-form {
    border: 1px solid #ddd;
    background: #fff;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .input {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .appointment-form input[type="text"] {
    padding: 5px 15px;
    width: 100%;
    border: 1px solid #ddd;
  }
  .appointment-form label {
  
    width: 50%;
  }

  /*doctor page css  starts from here*/
  img.doctor-img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    background: #999696;
}

.doctor {
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
.single-doctor-div {
    margin-top: 50px;
}
.doctor-content {
    padding: 20px 15px;
    text-align: center;
}
.doctor-details-area{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.doctor-name{
    font-size: 56px;
}

  
  span.line {
    width: 145px;
    height: 3px;
    background: #FFCA42;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
.mt-100{
    margin-top: 100px;
}
.doctor-right h4 {
    font-size: 20px;
}
.doctor-experi{
    margin-top: 20px;
}
.appointment-wrapper {
    background: #ddd;
    padding: 50px 0;
    margin: 70px 0;
}
.appointment-title{
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.app-btn {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 3px 15px;
    margin: 5px 0;
    display: inline-block;
}
.booked {
    border-color: red;
    color: #fff;
}